html, body {
    height: 100%;
    width: 100%;
}

.responsive {
    width: 100%;
    max-width: 1000px;
    height: auto;
}
.landing-logo {
    padding-top: 90px;
    padding-bottom: 50px;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.home {
    background: url(../landing/images/comic-pages1.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 5px; 
}
.text-center {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
h3 {
    padding-top: 20px;
}

.background {
    background-image: url(../landing/images/galaxy.jpg);
    background-size: cover;
}

.overlay {
    position: relative;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);  
}

.form-control {
    margin-top: 50px;
    margin-bottom: 20px;
}
